/* ==================================
    IE Hacks for:
    - view-merch(classic).html
=================================== */

// metrics
.panel-metrics-fixed{display: none;}
.panel-ie{display: block;}

// Checklist
.jos-accordion-checklist{
  .accordion-inner{
    // Video
    //object{.video-inner();}
    span:last-child{
      position: relative;
      height: auto;
      overflow: hidden;
      padding-bottom:0;
      display: block;
    }
    object.video{
      position: relative;

    }
  }
}