/* ==================================
    navbar overrides
=================================== */

// Dropdown menus

// Menu position and menu carets
.navbar-nav > li > .dropdown-menu {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}





/* mainmenu variant
=================================== */
.jos-navbar-mainmenu{
  margin-bottom: 0px;
  background: @black;
//  .box-shadow(@box-shadow);
  z-index: @zindex-navbar-fixed;

  .jos-logo{
    display: inline-block;
    margin-top: 10px;
  }
  .jos-logo-yba{display: none;}
  .jos-logo-yba-small{display: none;}
  .nav{
//    float: right !important; /*TODO: Verify that this is necessary...Im nervous that this IE hack (important) should be fixed in another fashion.*/
//    display: inline-block;

  }
  .nav > li > a {
    text-transform: uppercase;
    font-size: @font-size-small;
    padding: @padding;
    padding-top: 25px;
  }
  .nav > li > a:hover{
    background: @component-hover-bg;
  }

  .navbar-nav li.dropdown.open > .dropdown-toggle {
    background-color: @navbar-inverse-link-selected-bg;
    color: @navbar-inverse-link-color;
  }

  .nav-collapse{
    display: inline-block;
    float: right;
  }
  .dropdown-myaccount{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: -5px;
  }

  // Responsive navbar
  // --------------------------------------------------
  @media screen and (max-width: @screen-tablet){
    min-height: 55px;
    .nav-collapse{
      display: block;
      float: none;
    }
    .dropdown-myaccount{
      margin-right: 60px;
    }
  }
  @media screen and (max-width: 900px){
    .jos-logo-yba-small{display: none;}
  }
  @media screen and (max-width: 1130px){
    .nav {
      > li a{
        padding: 10px 8px;
        padding-top: 25px;
      }
    }
  }
  @media screen and ( min-width: 901px) and ( max-width: 1130px) {
    .jos-logo-yba{display: none;}
    .jos-logo-yba-small{display: inline-block;}
  }
  @media screen and (min-width: 1131px){
    .jos-logo-yba{display: inline-block;}
  }


}




/* toolbar variant
=================================== */
.jos-navbar-toolbar{
  padding: 0;
  background: @toolbar-bg;
  margin-bottom: 0;
}
.jos-navbar-toolbar > .navbar-nav > li > a {
  padding: 6px @padding-value;
  color: @toolbar-link;
  font-weight: 200;
  font-size: @font-size-small;
  border-top: 1px solid transparent;
}
.jos-navbar-toolbar > .navbar-nav > .active > a,
.jos-navbar-toolbar > .navbar-nav > li > a:hover{
  background: @toolbar-link-hover-bg;
  color: @toolbar-link-hover;
  border-top: 1px solid @toolbar-link-hover-bg;
}

.jos-navbar-footer{
  .text-center;
  #gradient > .vertical(@toolbar-bg, @black);
  margin-left: -16px;
  margin-right: -16px;
  margin-bottom: -16px;
  margin-top: 0px;
}

// toolbar in a panel
.panel .jos-navbar-toolbar{

  margin-left: -16px;
  margin-right: -16px;
  margin-top: -15px;
  margin-bottom: 0px;
}
