/* ==================================
    AppCanvas
=================================== */


/* Common Parts
=================================== */
.jos-appcanvas{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
}
.jos-appcanvas-content{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: @padding-value;
  .transition(@transition);
}
.jos-appcanvas-above{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
.jos-appcanvas-below{
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}



/* Integrations
=================================== */

// Appcanvas with Background Media
.jos-backgroundmedia .jos-appcanvas-content{
  background: url(../../../img/jos-backgroundmedia-raster.png) transparent repeat left top;
}

// Appcanvas with ControlPanel(s)
.int-jos-controlpanel{
  &.shift-default .jos-appcanvas-content{
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  &.shift-right .jos-appcanvas-content{
    left: @controlpanel-width; /* Width of ControlPanel */;
    right: 0;
  }
  &.shift-left .jos-appcanvas-content{
    left: 0;
    right: @controlpanel-width; /* Width of ControlPanel */
  }

  // Variants
  &.shift-browselist .jos-appcanvas-content{
    left: @controlpanel-width; /* Width of ControlPanel */;
    right: 0;
  }
}
