/* ==================================
    navbar overrides
=================================== */

// Dropdown menus

// Menu position and menu carets
.navbar-nav > li > .dropdown-menu {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


/* mainmenu variant
=================================== */
.jos-navbar-mainmenu{
  margin-bottom: 0px;
  background: @black;
//  .box-shadow(@box-shadow);
  z-index: @zindex-navbar-fixed;

}
.jos-navbar-mainmenu .jos-logo{
  display: inline-block;
  margin-top: 15px;
}
.jos-navbar-mainmenu .nav{
  float: right;
  display: inline-block;

}
.jos-navbar-mainmenu .nav > li > a {
  text-transform: uppercase;
  font-size: @font-size-small;
  padding: @padding;
  padding-top: 25px;
}
.jos-navbar-mainmenu .nav > li > a:hover{
  background: @brand-secondary;
}

/* toolbar variant
=================================== */
.jos-navbar-toolbar{
  padding: 0;
  background: @toolbar-bg;
  margin-bottom: 0;
}
.jos-navbar-toolbar > .navbar-nav > li > a {
  padding: 6px @padding-value;
  color: @toolbar-link;
  font-weight: 200;
  font-size: @font-size-small;
  border-top: 1px solid transparent;
}
.jos-navbar-toolbar > .navbar-nav > .active > a,
.jos-navbar-toolbar > .navbar-nav > li > a:hover{
  background: @toolbar-link-hover-bg;
  color: @toolbar-link-hover;
  border-top: 1px solid @toolbar-link-hover-bg;
}

.jos-navbar-footer{
  .text-center;
  #gradient > .vertical(@toolbar-bg, @black);
  margin-left: -16px;
  margin-right: -16px;
  margin-bottom: -16px;
  margin-top: 0px;
}

// toolbar in a panel
.panel .jos-navbar-toolbar{

  margin-left: -16px;
  margin-right: -16px;
  margin-top: -15px;
  margin-bottom: 0px;
}
