/* ==================================
    Supplimental Mixins (waiting to see if these get included in BS3 or not
=================================== */

// Add an alphatransparency value to any background or border color (via Elyse Holladay)
#translucent {
  .background(@color: @white, @alpha: 1) {
    background-color: hsla(hue(@color), saturation(@color), lightness(@color), @alpha);
  }
  .border(@color: @white, @alpha: 1) {
    border-color: hsla(hue(@color), saturation(@color), lightness(@color), @alpha);
    .background-clip(padding-box);
  }
}

#arrow {
 .right(@size:4px, @color:@white){
   width: 0;
   height: 0;
   border-top: @size solid transparent;
   border-bottom: @size solid transparent;
   border-left: @size solid @color;
   display: inline-block;
 }
  .left(@size:4px, @color:@white){
    width: 0;
    height: 0;
    border-top: @size solid transparent;
    border-bottom: @size solid transparent;
    border-right: @size solid @color;
    display: inline-block;
  }

}