/* ==================================
    navs overrides
=================================== */

// tabs-small variant

.nav-tabs-small {
  > li {

    > a {

      padding: 10px 8px;
      border-radius: 0px;
      &:hover { // TODO: Might want to integrate this into overall theme
        border-color: @gray-lighter @gray-lighter transparent;
      }
    }
  }
}


/* merch variant
=================================== */
.tabs-merch{
  > .nav-tabs{
    margin: 0;
    background: #232323;
    float: left;
    border-bottom: 0;

    > li{
      background: #232323;
      text-align: center;
      margin: 0;
      font-weight: normal;
      border-bottom: 1px solid #ccc;
      float: none;
    }
    > li > a {
      height: @tabs-merch-height;
      background: url('../../../img/jos-navs-header.gif') repeat-x left top;
      font-family: @font-family-sans-serif;
      width: @tabs-merch-width;
      color: @black;
      border: none;
      margin: 0;
      padding-left: 0;
      padding-right: 0;
      border-radius: 0;
      font-weight: normal;
    }
    > li > a:hover,
    > li > a:hover .callout{color: @white;}
    > li span{
      display: block;
      font-weight: normal;
    }
    > li .callout{margin-top: .5em; color: @black;}

    > li > a:hover{
//      background-color: @gray-darker;
//      background-image: none;
    }
    > .active > a,
    > .active > a:hover,
    > .active > a:focus {
      color: @white;
      border: none;
      border-bottom-color: none;
      cursor: pointer;
      font-weight: normal;
    }
    > .active > a:after{
      content: "";
      width: 18px;
      height: 26px;
      line-height: 18px;
      display: inline-block;
      float: right;
      margin-top: -55%;
      background: url(../../../img/jos-navs-arrow-left.png) no-repeat left;
    }
  }

  .tabs-merch-season { font-size: 1.4em; font-weight: normal;}
  .tab-content{
    background: #232323;
  }
  .tab-pane{
    background: url(../../../img/jos-navs-bg.png);
    padding: @padding-value-base @padding-value-half;
    margin-left: @tabs-merch-width;
  }

}
