/* ==================================
    jos-controlpanel
=================================== */

.jos-controlpanel{
  width: @controlpanel-width;
  #translucent > .background(#000, .5);
  color: #fff;
}
.jos-controlpanel-header{
  #translucent > .background(#000, .5);

}

/* SubMenu
=================================== */
.jos-controlpanel-submenu .jos-controlpanel-header{
  padding: @padding;
}
.jos-controlpanel-submenu .jos-controlpanel-header .data{
  line-height: @line-height-base*1.25;
  color: @gray-light;
}
.jos-controlpanel-submenu .jos-controlpanel-header h2{
  font-weight: 300;
  line-height: @line-height-base;
}
.jos-controlpanel-submenu .accordion-inner li{
  position: relative;
}
.jos-controlpanel-submenu .jos-detailcontent-indicator{
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid @submenu-indicator-color;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 2px;
}
.jos-controlpanel-submenu .list-group .jos-detailcontent-indicator {
  top: 4px;
}
.jos-controlpanel-submenu figure{
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  border-bottom: 1px solid #6a6a6a;
}
