/* ==================================
    jos-theme-04 (green)
=================================== */

  /* gradient */
.tabs-merch .jos-theme-04 .callout,
.tabs-merch .jos-theme-04 .box--primary .box-header,
.tabs-merch .jos-theme-04 .ProgressBar-progress,
.tabs-merch .jos-theme-04 .DateList-date {
  #gradient > .vertical(@theme-04, darken(@theme-04, 10%));
}

/* lighter gradient */
.tabs-merch .nav-tabs > .jos-theme-04 > a{background: @theme-04;}
.tabs-merch .nav-tabs > .jos-theme-04 > a:hover,
.tabs-merch .nav-tabs > .jos-theme-04 > a:focus{
  #translucent > .background(@theme-04, .5);
}

.jos-theme-04 .panel-primary {
  .panel-heading {
    color: #fff;
    #gradient > .vertical(@theme-04, darken(@theme-04, 10%));
    border-color: transparent;
  }
}

.jos-theme-04 .progress-bar{background-color: @theme-04-light;}