/* ==================================
    jos-detailcontent
=================================== */

.jos-detailcontent{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background: @detailcontent-bg;
  padding: @padding;
}

/* integrated with controlpanel
=================================== */

// left
.int-jos-controlpanel .jos-detailcontent{
  left: @controlpanel-width;
}