/* ==================================
    jos-controlpanel
=================================== */


/* Common Parts
=================================== */
.jos-controlpanel{
  .transition(@transition);
  width: @controlpanel-width;
  display: inline-block;
  color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: @zindex-controlpanel;
  #translucent > .background(@controlpanel-bg, .50);
}
.jos-controlpanel-header{
  background: transparent;
}
.jos-controlpanel-header .btn-group{
  margin-bottom: 4px;
  margin-top: 4px;
}
.jos-controlpanel-header .btn{
  color: @gray-light;
}
.jos-controlpanel-header .btn:hover{
  text-decoration: none;
  color: #fff;
}
.jos-controlpanel-header .btn i{
  display: block;
  line-height: 10px;
}
.jos-controlpanel-body{
  position: absolute;
  bottom: 0px;
  width: 100%;
  left: 0;
  overflow: auto;
}
.jos-controlpanel-body-header{
  padding: @padding;
  position: relative;
  background: @controlpanel-header-bg;
  border: 1px solid @controlpanel-border;
  border-bottom: 0px;
  border-top: 0px;
  .box-shadow(0 4px 2px -2px rgba(0,0,0,.125));
  z-index: @zindex-controlpanel-actions;
}
.jos-controlpanel-body-content{
  position: absolute;
  left: 0;
  right: 0;
  overflow: auto;
}
.jos-controlpanel-body-footer{
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: @padding;
  #translucent > .background(@controlpanel-bg, .8);
}
.jos-controlpanel-actions{

}


/* Adjustments/states
=================================== */
.shift-default{
  .jos-controlpanel-left{
    left: 0;
    .box-shadow(@box-shadow);
  }
  .jos-controlpanel-browselist{left: -@controlpanel-width; /*width of ControlPanel--BrowseList*/}
  .jos-controlpanel-right{
    right: -@controlpanel-width;
    border-right: 1px solid @gray-light;  // maybe...
    .box-shadow(@box-shadow);
  }
}
.shift-right{
  .jos-controlpanel-left{margin-left: @controlpanel-width;  /*width of ControlPanel--BrowseList*/}
  .jos-controlpanel-browselist{left: 0;}
  .jos-controlpanel-right{right: -@controlpanel-width;}
}
.shift-left{
  .jos-controlpanel-left{margin-left: -@controlpanel-width;  /*width of ControlPanel*/}
  .jos-controlpanel-right{right: 0;}
  .jos-controlpanel-browselist{margin-left: -@controlpanel-width;}
}


/* Variants
=================================== */
// Submenu
.jos-controlpanel-submenu{
  // Common part overrides
  .jos-controlpanel-header{
    padding: @padding;
  }

  // Custom
  .jos-controlpanel-header .data{
    line-height: @line-height-base;
    color: @controlpanel-header-color;
    margin-bottom: 0px;
  }
  .jos-controlpanel-header h2{
    font-weight: 300;
    line-height: @line-height-base*1.25;
    color: @brand-primary;
    margin-top: 10px;
  }
  figure{
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    border-bottom: 1px solid #6a6a6a;
  }
}








