/* ==================================
    Theme Variables (For all themes which are a variant of this system/experience using this Library)
=================================== */

//TODO: Have Jaime confirm what operations are made on these colors

// Theme Colors
// --------------------------
//@theme-01:             	#ce434d;
//@theme-01-light:       #d55e67;
//
//@theme-02:           	#f67c38;
//@theme-02-light:       #f78f55;
//
//@theme-03:            	#52b5be;
//@theme-03-light:       #6bc0c8;
//
//@theme-04:             	#8ea534;
//@theme-04-light:       #9fb251;

@theme-01:             	#b1192c;
@theme-01-light:       #ce434d;

@theme-02:           	#c86311;
@theme-02-light:       #f67c38;

@theme-03:            	#209da8;
@theme-03-light:       #5ebac3;

@theme-04:             	#7f9900;
@theme-04-light:       #9fb251;

