/* ==================================
    BackgroundMedia
=================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adamschnaare\/Google Drive\/Design\/Jostens\/library\/less\/jos-backgroundmedia\.less}line{font-family:\000035}}
.jos-backgroundmedia {
  background: #ffffff no-repeat top center;
  /*background-image: url() is set by js*/

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adamschnaare\/Google Drive\/Design\/Jostens\/library\/less\/jos-backgroundmedia\.less}line{font-family:\0000313}}
.jos-backgroundmedia:before {
  content: "";
  background: url(../../../img/jos-backgroundmedia-raster.png) transparent repeat left top;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adamschnaare\/Google Drive\/Design\/Jostens\/library\/less\/jos-backgroundmedia\.less}line{font-family:\0000323}}
.jos-backgroundmedia-caption {
  position: absolute;
  display: inline-block;
  width: 28em;
  /*19.5*16px = 312px*/

  background: rgba(0, 0, 0, 0.7);
  padding: 1.25em;
  padding-right: 4.5em;
  /*3.5*16px = 56px*/

  cursor: pointer;
  right: 0;
  margin-right: 0px;
  bottom: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adamschnaare\/Google Drive\/Design\/Jostens\/library\/less\/jos-backgroundmedia\.less}line{font-family:\0000336}}
.jos-backgroundmedia-caption.l-fixed {
  position: fixed;
  float: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adamschnaare\/Google Drive\/Design\/Jostens\/library\/less\/jos-backgroundmedia\.less}line{font-family:\0000340}}
.jos-backgroundmedia-caption {
  color: #bcbdbc;
  font-size: .85em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adamschnaare\/Google Drive\/Design\/Jostens\/library\/less\/jos-backgroundmedia\.less}line{font-family:\0000344}}
.jos-backgroundmedia-caption a {
  color: #fff;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adamschnaare\/Google Drive\/Design\/Jostens\/library\/less\/jos-backgroundmedia\.less}line{font-family:\0000348}}
.jos-backgroundmedia-title {
  margin-top: 0px;
  color: #e5a31b;
  font-style: italic;
  font-size: 1em;
  line-height: 1em;
  margin-bottom: 5px;
  text-transform: inherit;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adamschnaare\/Google Drive\/Design\/Jostens\/library\/less\/jos-backgroundmedia\.less}line{font-family:\0000357}}
.jos-backgroundmedia-caption .arrow-right {
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid #ffffff;
  margin-left: 4px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adamschnaare\/Google Drive\/Design\/Jostens\/library\/less\/jos-backgroundmedia\.less}line{font-family:\0000363}}
.jos-backgroundmedia-caption img {
  position: absolute;
  right: 0;
  top: 7px;
}
