/* ==================================
    IE Hacks for:
    - view-merch(classic).html
=================================== */
.panel-metrics-fixed {
  display: none;
}
.panel-ie {
  display: block;
}
.jos-accordion-checklist .accordion-inner span:last-child {
  position: relative;
  height: auto;
  overflow: hidden;
  padding-bottom: 0;
  display: block;
}
.jos-accordion-checklist .accordion-inner object.video {
  position: relative;
}
