/* ==================================
    panel overrides
=================================== */
/* expand triggers
=================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adamschnaare\/Google Drive\/Design\/Jostens\/library3\.0\/less\/jos\/jos-panel\.less}line{font-family:\000037}}
.panel-expand {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  border-left: 15px solid transparent;
  border-bottom: 30px solid transparent;
  border-right: 30px solid #000;
  border-top: 15px solid #000;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adamschnaare\/Google Drive\/Design\/Jostens\/library3\.0\/less\/jos\/jos-panel\.less}line{font-family:\0000319}}
.panel-expand-trigger {
  position: absolute;
  top: 5px;
  right: 10px;
  color: #fff;
}
