/* ==================================
    jos-view-merch.html

    Important - do not put styles regarding specific components in here, but rather styles that cannot be abstracted,
    and thus only apply to this view. Probably responsive styles and media queries.
=================================== */
/*TODO: Consider changing other padding values to be divisible by 2*/
/* ==================================
    Jostens Custom Component Variables
=================================== */
/*20*14px = 280px*/
@media screen and (max-width: 480px) {
  .col-metrics,
  .col-pull-6 {
    width: 100%;
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .col-metrics,
  .col-pull-6 {
    width: 50%;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .col-checklist.col-push-3 {
    left: 0;
  }
  .col-pull-6 {
    width: 50%;
    left: 0;
  }
  .col-metrics {
    width: 50%;
  }
}
@media screen and (max-width: 992px) {
  .col-timeline {
    display: none;
  }
}
